PyYAML==5.2
ansible==2.9.4
awscli==1.17.14
# We no longer include awsebcli because it is not fully Python 3 compatible
#awsebcli==3.15.3
boto==2.49.0
boto3==1.11.14
# crudini 0.9.3 is required for Python3, but not yet released to pypi
# install the hard way crudini==0.9.3
Jinja2==2.11.1
