CLUSTER_DNS_ZONE=example.com                            # Parent zone for cluster (e.g. example.com)
CLUSTER_PREFIX=foobar                                   # Short name of cluster (e.g. foobar)
CLUSTER_STATE_BUCKET_REGION=us-east-1                   # Primary region of bucket
SSH_USERNAME=admin                                      # Username to use for connecting to cluster (e.g. github username)
DOCKER_REGISTRY_SERVER=https://index.docker.io/v1/      # Primary Docker Registry to use for pulling images
DOCKER_EMAIL=                                           # Email associated with Docker Registry account
DOCKER_USER=                                            # Username to authenticate with Docker Registry
DOCKER_PASSWORD=                                        # Password associated with Docker Username
GITHUB_ORG=                                             # Github Organization (or username) to host cluster repos
