AWS_DEFAULT_PROFILE=cloudposse-ops                      # Profile to use in ~/.aws/config
CLUSTER_DNS_ZONE=dev.cloudposse.com                     # Parent zone for cluster (e.g. example.com)
CLUSTER_PREFIX=demo                                     # Short name of cluster (e.g. demo)
CLUSTER_STATE_BUCKET_REGION=us-east-1                   # Primary region of bucket
SSH_USERNAME=admin                                      # Username to use for connecting to cluster (e.g. github username)
DOCKER_REGISTRY_SERVER=https://registry.hub.docker.com  # Primary Docker Registry to use for pulling images
DOCKER_EMAIL=                                           # Email associated with Docker Registry account
DOCKER_USER=                                            # Username to authenticate with Docker Registry
DOCKER_PASSWORD=                                        # Password associated with Docker Username
