name: draft-release

on:
  push:
    branches:
    - main

jobs:
  semver:
    runs-on: ubuntu-latest
    steps:
    # Drafts your next Release notes as Pull Requests are merged into "main"
    - uses: release-drafter/release-drafter@v6
      with:
        publish: false
        prerelease: false
        config-name: draft-release.yml
      env:
        GITHUB_TOKEN: ${{ secrets.PUBLIC_REPO_ACCESS_TOKEN }}
